.display {
    width: 100vw;
    height: calc(100vh - 1em);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor {
    position: fixed;
    top: 0;
    left: 75%;
    width: calc(25% - 7.5em);
    height: calc(100% - 12.5em);
    margin-right: 1em;
    margin-top: 3em;
    margin-bottom: 3em;
    box-shadow: 0.3em 0.3em 0.5em #555555aa;
    backdrop-filter: blur(0.3em);

    padding: 3em;

    background-color: #cffafe88;
    border: 0.25em solid #2563eb33;
    border-radius: 2em;

    visibility: hidden;

    display: flex;
    flex-direction: column;
}

.editor input {
    padding: 0.5em;
    border-radius: 0.5em;
}

.editor button {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 0.5em;
}

.editor button[name=cancel] {
    background-color: #f78c8c;
}

.editor button[name=delete] {
    background-color: #c24c4c;
    color: #eeeeee;
}

@keyframes enter-stage-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes exit-stage-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
        visibility: hidden;
    }
}
